<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="color-scheme" content="dark">
    <script src="https://kit.fontawesome.com/ab887a984c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="final.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Changa:wght@200;300;400;500&family=Eczar&family=Istok+Web&family=Monoton&family=Oswald&family=Rajdhani:wght@300;500;600&family=Saira+Condensed:wght@200&family=Teko:wght@300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="all">
    <div class="container-fluid">
        <p >HOW MANY PEOPLE SENT 2 <span style="color:#347eee;"> XRP </span></p>
        <p >TO SEE HOW MANY PEOPLE</P>
        <p >ALREADY SENT 2<span style="color:#347eee;"> XRP </span>?</p>
    </div>
    <div class="image">
        <img src="static/img/distributed@2x.gif" class="img-fluid" alt="Responsive image">
        <input id="temp_text" type="text", style="visibility: hidden;">
 
        <div class="touch_0">
            <address class="intouch_0">
                Get in touch
                <a href="mailto:info@send2xrp.com" id="mail">
                info@send2xrp.com
                </a>
                
            </address>
        </div>        

    </div>
    <div class="intro">
        <p class="Two_0">Instruction:</p>
        <p class="Two_1"><span style="color: #277bfa; font-weight:bold;">1.</span> Send 2 XRP "using both wallet
            address & XRP Tag"</P>
        <div class="inline_1">
            <span>Wallet Address:</span><br>
            
            <span id="numb">rEb8TK3gBgk5auZkwc6sHnwrGVJH8DuaLh</span>
            &nbsp
            <!-- <span class="clipboard-icon-div"> -->
            <i class="fa-regular fa-clipboard fa-lg" onclick="copy_and_change(this, 'numb')"></i>
            <!-- </span> -->
            <!-- <input id="btncopy" type="image" src="transparent-clipboard-icon-copy-icon-duplicate-icon-5db75fcfbf2c48.4955590615722987037831.png" onclick="changeImage()"/> -->
        </div>
        <div class="inline_2">
            <span>XRP Tag:</span><br> 
            <span id="tag">103544552</span>
            &nbsp
            <!-- <input id="btncopy_1" type="image"
                src="transparent-clipboard-icon-copy-icon-duplicate-icon-5db75fcfbf2c48.4955590615722987037831.png" /> -->
            <i class="fa-regular fa-clipboard fa-lg"  onclick="copy_and_change(this, 'tag');"></i>
           

        </div>
        <br>
        
        <p class="Two_3"><span style="color: #277bfa; font-weight:bold;">3.</span> Note your transaction TX_Hash</P>
        <p class="Two_4"><span style="color: #277bfa; font-weight:bold;">4.</span> Leave your TX_hash below, hit the submit button and I'll show you the answer</P>
        <div class="form">
            <form action="/" method="post" id="myform">
                <input type="text" name="name" autocomplete="off" required />
                <label for="name" class="labe-name">
                    <apan class="content-name">Enter tx_hash</apan>
                </label>
            </form>
        </div>
        <div class="btnnn">
            <button class="gradButton" form="myform" type="submit">
                <span> Submit Here</span>
            </button>


    </div>


    </div>

</div>
<div class="touch">
    <address class="intouch">
        Get in touch
        <a href="mailto:info@send2xrp.com" id="mail">
        info@send2xrp.com
        </a>
        
    </address>
</div>
<script src="final.js"></script>

</body>
</html>