{% extends 'base.html' %}

{% block head %}
<title>This is root</title>
{% endblock %}


{% block body %}
<div class="all">
    <div class="container-fluid">
        <p >HOW MANY PEOPLE SENT 2 <span style="color:#347eee;"> XRP </span></p>
        <p >TO SEE HOW MANY PEOPLE</P>
        <p >ALREADY SENT 2<span style="color:#347eee;"> XRP </span>?</p>
    </div>
    <div class="image">
        <img src="{{url_for('static', filename='img/distributed@2x.gif')}}" class="img-fluid" alt="Responsive image">
        <input id="temp_text" type="text", style="visibility: hidden;">
 
        <div class="touch_0">
            <address class="intouch_0">
                Get in touch
                <a href="mailto:info@send2xrp.com" id="mail">
                info@send2xrp.com
                </a>
                
            </address>
        </div>        

    </div>
    <div class="intro">
        <p class="Two_0">Instruction:</p>
        <p class="Two_1"><span style="color: #277bfa; font-weight:bold;">1.</span> Send 2 XRP "using both wallet
            address & XRP Tag"</P>
        <div class="inline_1">
            <span>Wallet Address:</span><br>
            
            <span id="numb">rEb8TK3gBgk5auZkwc6sHnwrGVJH8DuaLh</span>
            &nbsp
            <!-- <span class="clipboard-icon-div"> -->
            <i class="fa-regular fa-clipboard fa-lg" onclick="copy_and_change(this, 'numb')"></i>
            <!-- </span> -->
            <!-- <input id="btncopy" type="image" src="transparent-clipboard-icon-copy-icon-duplicate-icon-5db75fcfbf2c48.4955590615722987037831.png" onclick="changeImage()"/> -->
        </div>
        <div class="inline_2">
            <span>XRP Tag:</span><br> 
            <span id="tag">103544552</span>
            &nbsp
            <!-- <input id="btncopy_1" type="image"
                src="transparent-clipboard-icon-copy-icon-duplicate-icon-5db75fcfbf2c48.4955590615722987037831.png" /> -->
            <i class="fa-regular fa-clipboard fa-lg"  onclick="copy_and_change(this, 'tag');"></i>
           

        </div>
        <br>
        
        <p class="Two_3"><span style="color: #277bfa; font-weight:bold;">3.</span> Note your transaction TX_Hash</P>
        <p class="Two_4"><span style="color: #277bfa; font-weight:bold;">4.</span> Leave your TX_hash below, hit the submit button and I'll show you the answer</P>
            
            
            <div class="form">
                <form action="/" method="post" id="myform">
                    <input type="text" name='tx_hash' id='tx_hash_input' autocomplete="off" required />
                    <label for="name" class="labe-name">
                        <apan class="content-name">Enter tx_hash</apan>
                    </label>
                </form>
            </div>
            <div class="btnnn">
                <button class="gradButton" form="myform" type="submit">
                    <span> Submit Here</span>
                </button>
    
    
        </div>
        



            <!-- <form action="/" method="post">
            <input type="text" name='tx_hash' id='tx_hash_input'>
            <input type="submit" value='Enter' class="btn btn-primary">
        </form> -->


    </div>

</div>
<div class="touch">
    <address class="intouch">
        Get in touch
        <a href="mailto:info@send2xrp.com" id="mail">
        info@send2xrp.com
        </a>
        
    </address>
</div>
<script src="static/js/final.js"></script>

{% endblock %}